
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    
        $(document).ready(function(){
            $("#Kaydet").click(function(){
                var myPost = $("#myPost").val();
                var PostData = {
                    Post: myPost
                };

                $.ajax({
                    url:'@Url.Action("AddPost" ,"Home" )' ,
                    type:'POST',
                    dataType : 'json',
                    data: PostData,
                    //data: JSON.stringify(ImageData),
                    success:function (data){
                        alert(data);
                    },
                    error : function (err){
                        alert(data.myPost);
                    }
                })

            });
        });
</script>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Bootstrap WYSIHTML5 <small>Simple and fast</small></h3>
                    <!-- tools box -->
                    <div class="pull-right box-tools">
                        <button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        <button class="btn btn-default btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                    </div><!-- /. tools -->
                </div><!-- /.box-header -->
                <div class="box-body pad">
                    <form>
                        <textarea class="textarea" id="myPost" placeholder="Place some text here" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                    </form>
                </div>
            </div>
            <button class="btn btn-success pull-right" id="Kaydet"  >Ekle</button>
        </div><!-- /.col-->
    </div><!-- ./row -->
</section><!-- /.content -->
<script>
      $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('editor1');
        //bootstrap WYSIHTML5 - text editor
        $(".textarea").wysihtml5();
      });
</script>
<script src="~/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/plugins/fastclick/fastclick.min.js"></script>
<!-- AdminLTE App -->
<script src="~/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/dist/js/demo.js"></script>
<!-- CK Editor -->
<script src="https://cdn.ckeditor.com/4.4.3/standard/ckeditor.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>